---
layout: default
---

<section>
    <div class="row">
		<div class="columns small-12 hide-for-medium">
			{% include announce_menu.html %}
		</div>
		<div class="left-subnav medium-3 columns hide-for-small-only" data-sticky-container>
			<nav class="columns sticky" data-sticky data-top-anchor="top" data-btm-anchor="stateleg" data-sticky-on="medium">
				<div id='nav-magellan' data-magellan>
					{% include announce_menu.html %}
				</div>
			</nav>
		</div>
      <div id="top" data-magellan-target="top" class="large-9 columns">
		<h1>Announcements</h1>

      <h4 id="moratorium" data-magellan-target="moratorium">STATEWIDE EVICTION MORATORIUM EXTENDED: EFFECTIVE IMMEDIATELY </h4>
      <div class="inner">
          <p> On January 29, the State of California adopted legislation (SB 91) that extends the Tenant, Homeowner, and Small Landlord Relief Act (AB 3088). SB 91’s Tenant Relief Act extends eviction protections for tenants experiencing COVID-19 financial hardship effective immediately. All residential properties in Mountain View are covered, including single-family homes, condos/townhomes, duplexes, apartments, mobile homes and mobile home spaces and other types of residential rental units. </p>
		  <p>SB 91 also provides financial assistance to tenants and small property owners impacted by COVID-19. </p>
		  <p>Tenants are protected by, and tenants and landlords must follow, the State’s eviction moratorium requirements. It is important that tenants and landlords know that the State law has different noticing and past-due rent repayment requirements than the City’s previous law. Up-to-date online forms and information are now available at <a href="http://MountainView.gov/EvictionRelief" target="_blank">MountainView.gov/EvictionRelief</a>. </p>
		  <p>The City also hosts weekly webinars to inform the community about the eviction moratorium. To register in advance please visit: <a href="http://mountainview.gov/emwebinars" target="_blank">mountainview.gov/emwebinars</a> </p>
		  <p>If you need assistance or would like to learn more about the eviction moratorium, please contact the Mountain View Rental Housing Helpline by emailing <a href="mailto:csfra@housing.org" target="_blank">csfra@housing.org</a> or calling <a href="tel:6502822514" target="_blank">(650) 282-2514</a>. </p>
		  <p>The City of Mountain View Rent Relief Program provides financial assistance to qualifying tenants impacted by COVID-19. Rent relief is available for tenants who qualify. Please contact the Community Services Agency to learn more by visiting <a href="http://csacares.org" target="_blank">csacares.org</a>, emailing <a href="mailto:renthelp@csacares.org" target="_blank">renthelp@csacares.org</a> or calling <a href="tel:6509680836" target="_blank">650-968-0836</a>. </p> 
	  </div>
	  <hr>

      <h4 id="traffic" data-magellan-target="traffic">24 HOUR CLOSURE ON SOUTHBOUND INTERSTATE 101 ON-RAMP AT SHORELINE BOULEVARD IN MOUNTAIN VIEW </h4>
      <div class="inner">
          <p><em>SANTA CLARA COUNTY</em> – Caltrans District 4 (Bay Area) will perform a full overnight closure of Shoreline Boulevard on-ramp, at Southbound (SB) US 101 in Mountain View, Santa Clara County. Closures are needed for crews to safely excavate and replace culvert crossing at Shoreline on-ramp to SB 101.</p> 
		  <p>The full overnight closures will begin with SB US-101 on ramp being closed on: <br>March 5 at 9:01 PM thru March 6 at 9 PM. </p>
		  <p>Please follow the posted detour information.</p>
		  <p>FROM NB N SHORELINE BLVD: 
		  <ul>
		  <li>NB N SHORELINE BLVD </li>
		  <li>ON-RAMP TO NB US 101 </li>
		  <li>LOOP OFF-RAMP TO RENGSTORFF AVE </li>
		  <li>SB RENGSTORFF AVE TO SB US 101 </li>
		  <li>CONTINUE ON SB US 101 TO CONNECTOR OFF-RAMP TO SB RTE 85 </li>
		  </ul></p>
		  <p>FROM SB N SHORELINE BLVD:
		  <ul>
		  <li>SB N SHORELINE BLVD </li>
		  <li>EB W MIDDLEFIELD RD </li>
		  <li>EB MOFFETT BLVD </li>
		  <li>ON-RAMP TO SB RTE 85 </li>
		  <li>CONTINUE ON EB MOFFETT BLVD TO ON-RAMP TO US 101 </li></ul></p>
	  </div>
	  <hr>

      <h4 id="vaccine" data-magellan-target="vaccine">COVID Vaccination Information</h4>
      <div class="inner">
          <p>The County of Santa Clara Health System will operate an appointment-only vaccination site at the Mountain View Community Center, 201 S. Rengstorff Ave. To schedule an appointment, go to <a href="http://www.sccfreevax.org" target="_blank">www.sccfreevax.org</a> and scroll down to “Santa Clara Valley Medical Center Hospitals and Clinics (sites available in San José, Gilroy, and Mountain View).” </p>
		  <p>Learn more about COVID-19 vaccination opportunities throughout Santa Clara County at <a href="http://www.sccfreevax.org" target="_blank">www.sccfreevax.org</a>. This site includes information about eligibility.</p>
	  </div>
	  <hr> 

      <h4 id="eviction" data-magellan-target="eviction">Eviction Moratorium Extension (Tenant Focused)</h4>
      <div class="inner">
          <p>February 10 at 6:30 p.m.: The City of Mountain View is hosting a webinar about the State-wide eviction moratorium for all residential rental units in Mountain View. The Tenant Relief Act extends eviction protections for tenants experiencing COVID-19 financial hardship effective immediately. <a href="https://us02web.zoom.us/webinar/register/WN_KtrQCdwuQlCFnxpKgTiOUA" target="_blank">Register here</a>.</p>
	  </div>
	  <hr> 

		<h4 id="csa" data-magellan-target="csa">CSA Programs: Tax Preparation, Affordable Housing Applyathon, Immigration Services</h4>
		<p>CSA will be providing 2021 Tax Preparation, an Affordable Housing Applyathon happening on February 11th and 12th , and a few upcoming immigration presentations and 1-1 immigration legal consults in February and March. Kindly share this information with your clients, patients, families, neighbors, and friends. Flyers with more information are available below. </p>
		<p><ul>
		<li>Tax preparation flyer: <a href="pdf/2021TaxPreparationCSAReENG.pdf" target="_blank">English</a> - <a href="pdf/2021TaxPreparationCSAReSPA.pdf" target="_blank">Spanish</a> </li>
		<li>Immigration Services flyer: <a href="pdf/CCCOVID19-VirtualWorkshopsandClinicsEng.pdf" target="_blank">English</a> - <a href="pdf/CCCOVID19-VirtualWorkshopsandClinicsSPA.pdf" target="_blank">Spanish</a> </li>
		</ul></p>
		<p>If you or anyone you know has any questions in regards to the information being shared, please do not hesitate to contact Eonis Cibrian Pelayo via email at <a href="mailto:ecibrianpelayo@csacares.org" target="_blank">ecibrianpelayo@csacares.org</a> or phone at <a href="tel:6506699551" target="_blank">650.669.9551</a>. </p>
		<hr>

      <h4 id="legal" data-magellan-target="legal">Legal clinic</h4>
      <div class="inner">
          <p>Community Services Agency (CSA), alongside Law Foundation of Silicon Valley is virtually launching a safe monthly legal clinic on-site for an opportunity for CSA clients and the general community of Silicon Valley to consult with our community partner and Senior Attorney, Rachel Miño,  about issues pertaining to their Economic and/or Patient Rights. Please see the flyer attached, which states more in detail what these Economic and Patient Rights are described as. </p>
		  <p>If your families, patients, or clients are interested in scheduling a FREE appointment, please direct them to Eonis Cibrian Pelayo, Community and Public Relations Coordinator  at 650.669.9551 or ecibrianpelayo@csacares.org. </p>
		  <p>Flyer in <a href="pdf/csalegalcliniceng.pdf" target="_blank">English</a> - <a href="pdf/csalegalclinicspa.pdf" target="_blank">Spanish</a></p>
	  </div>
	  <hr>	
	  
      <h4 id="senior" data-magellan-target="senior">Paulson Park Affordable Senior Housing Wait List Open</h4>
      <div class="inner">
          <p>Paulson Park is a large senior affordable housing development in Mountain View, and it's 1 bedroom waitlist is opening. It is a Mid-Pen property. If you are interested to apply, it is not too late, but they may stop accepting applications early next week. So take action to pick up and turn in an application asap if this is of interest to you. You need to go to 111 Montebello Ave, Mtn View to get an application. (phone 650 964-5600)</p>
	  </div>
	  <hr> 

      </div>
    </div>
</section>