---
layout: default
---

<section>
    <div class="row">
		<div class="columns small-12 hide-for-medium">
			{% include announce_menu.html %}
		</div>
		<div class="left-subnav medium-3 columns hide-for-small-only" data-sticky-container>
			<nav class="columns sticky" data-sticky data-top-anchor="top" data-btm-anchor="stateleg" data-sticky-on="medium">
				<div id='nav-magellan' data-magellan>
					{% include announce_menu.html %}
				</div>
			</nav>
		</div>
      <div id="top" data-magellan-target="top" class="large-9 columns">
		<h1>Announcements</h1>

      <h4 id="moratorium" data-magellan-target="moratorium">Statewide Eviction Moratorium and Rent Relief</h4>
      <div class="inner">
          <p> On January 29, the State of California adopted legislation (SB 91) that extends the Tenant, Homeowner, and Small Landlord Relief Act (AB 3088). SB 91’s Tenant Relief Act extends eviction protections for tenants experiencing COVID-19 financial hardship effective immediately. All residential properties in Mountain View are covered, including single-family homes, condos/townhomes, duplexes, apartments, mobile homes and mobile home spaces and other types of residential rental units. </p>
		  <p>SB 91 also provides financial assistance to tenants and small property owners impacted by COVID-19. The application for California tenants and landlords is available at <a href="https://housing.ca.gov/covid_rr/" target="_blank">housing.ca.gov</a>. A list of supporting organizations and their contact information are available on <a href="https://housing.ca.gov/covid_rr/partner_resources.html" target="_blank">that site</a>. The list includes community organizations in each county that are available to help with applications. </p>
		  <p>Tenants are protected by, and tenants and landlords must follow, the State’s eviction moratorium requirements. It is important that tenants and landlords know that the State law has different noticing and past-due rent repayment requirements than the City’s previous law. Up-to-date online forms and information are now available at <a href="http://MountainView.gov/EvictionRelief" target="_blank">MountainView.gov/EvictionRelief</a>. </p>
		  <p>The City also hosts weekly webinars to inform the community about the eviction moratorium. To register in advance please visit: <a href="http://mountainview.gov/emwebinars" target="_blank">mountainview.gov/emwebinars</a> </p>
		  <p>If you need assistance or would like to learn more about the eviction moratorium, please contact the Mountain View Rental Housing Helpline by emailing <a href="mailto:csfra@housing.org" target="_blank">csfra@housing.org</a> or calling <a href="tel:6502822514" target="_blank">(650) 282-2514</a>. </p>
		  <p>The City of Mountain View Rent Relief Program provides financial assistance to qualifying tenants impacted by COVID-19. Rent relief is available for tenants who qualify. Please contact the Community Services Agency to learn more by visiting <a href="http://csacares.org" target="_blank">csacares.org</a>, emailing <a href="mailto:renthelp@csacares.org" target="_blank">renthelp@csacares.org</a> or calling <a href="tel:6509680836" target="_blank">650-968-0836</a>. </p> 
	  </div>
	  <hr>

      <h4 id="vaccine" data-magellan-target="vaccine">COVID Vaccination Information</h4>
      <div class="inner">
          <p>The County of Santa Clara Health System will operate an appointment-only vaccination site at the Mountain View Community Center, 201 S. Rengstorff Ave. To schedule an appointment, go to <a href="http://www.sccfreevax.org" target="_blank">www.sccfreevax.org</a> and scroll down to “Santa Clara Valley Medical Center Hospitals and Clinics (sites available in San José, Gilroy, and Mountain View).” </p>
		  <p>Learn more about COVID-19 vaccination opportunities throughout Santa Clara County at <a href="http://www.sccfreevax.org" target="_blank">www.sccfreevax.org</a>. This site includes information about eligibility.</p>
	  </div>
	  <hr> 

      <h4 id="vta" data-magellan-target="vta">VTA transportation to a COVID Vaccine appointment </h4>
      <div class="inner">
          <p>If you need transportation to a COVID Vaccine appointment, the Santa Clara Valley Transportation Authority (VTA) has created an interactive map to help residents navigate routes to get to vaccination sites. The map allows users to click on a vaccination location. Once they do, they will be taken to the Google Maps transit option to find the most efficient route to the destination.  The link for the VTA map can be accessed at vta.org. <a href="" target="_blank">View flyer</a>. </p>
		  <p>Transit trips on VTA buses and light-rail vehicles are currently free. </p>
		  <p>VTA customer service can also help residents navigate transit routes to vaccination sites. Those who need help can email customer.service@vta.org or call 408-321-2300. While VTA will assist with transportation routes, residents should visit sccFreeVax.org or call 211 to book appointments or learn more about vaccinations in Santa Clara County.</p>
		  <p>Ashleigh Bittle :: Senior Center <br>City of Mountain View Senior Center <br>266 Escuela Avenue, Mountain View, California <br>Direct (650) 903-6448  ::  Fax (650) 962-1924 </p>
	  </div>
	  <hr>
	  
      <h4 id="covid" data-magellan-target="covid">Vaccination for Homebound </h4>
      <div class="inner">
          <p>The Mountain View Senior Center would like to share the following information provided by Santa Clara County about Vaccination for Homebound Seniors.</p>
		  <p>Santa Clara County continues to expand its COVID-19 vaccination outreach efforts. The County is introducing a new program to provide in-home vaccinations for homebound residents. Residents can email CovidVaxHome@phd.sccgov.org or call 408-970-2818 for more information or to register. </p>
		  <p>To be eligible for this program, residents must meet the Medicare definition of homebound:  Patients are considered “confined to the home” or “homebound” if they meet both of these criteria: <ul>
		  <li>Patients either need supportive devices such as crutches, canes, wheelchairs, walkers, special transportation, or help from someone else to leave their home, due to illness or injury, OR have a condition that makes leaving the home medically inadvisable. </li>
		  <li>There must exist a normal inability to leave home; AND leaving home must require a considerable and taxing effort. </li></ul></p>
		  <p>Alejandra Hernandez :: Recreation Coordinator – Senior Center <br>City of Mountain View Senior Center <br>266 Escuela Avenue, Mountain View, California <br>Direct (650) 903-6442 :: Fax (650) 962-1924 </p>
	  </div>
	  <hr>

		<h4 id="csa" data-magellan-target="csa">CSA Programs: Tax Preparation</h4>
		<p>CSA will be providing 2021 Tax Preparation. Kindly share this information with your clients, patients, families, neighbors, and friends. Flyers with more information are available below. </p>
		<p><ul>
		<li>Tax preparation flyer: <a href="pdf/2021TaxPreparationCSAReENG.pdf" target="_blank">English</a> - <a href="pdf/2021TaxPreparationCSAReSPA.pdf" target="_blank">Spanish</a> </li>
		</ul></p>
		<p>If you or anyone you know has any questions in regards to the information being shared, please do not hesitate to contact Eonis Cibrian Pelayo via email at <a href="mailto:ecibrianpelayo@csacares.org" target="_blank">ecibrianpelayo@csacares.org</a> or phone at <a href="tel:6506699551" target="_blank">650.669.9551</a>. </p>
		<hr>

      <h4 id="legal" data-magellan-target="legal">Legal clinic</h4>
      <div class="inner">
          <p>Community Services Agency (CSA), alongside Law Foundation of Silicon Valley is virtually launching a safe monthly legal clinic on-site for an opportunity for CSA clients and the general community of Silicon Valley to consult with our community partner and Senior Attorney, Rachel Miño,  about issues pertaining to their Economic and/or Patient Rights. Please see the flyer attached, which states more in detail what these Economic and Patient Rights are described as. </p>
		  <p>If your families, patients, or clients are interested in scheduling a FREE appointment, please direct them to Eonis Cibrian Pelayo, Community and Public Relations Coordinator  at 650.669.9551 or ecibrianpelayo@csacares.org. </p>
		  <p>Flyer in <a href="pdf/csalegalcliniceng.pdf" target="_blank">English</a> - <a href="pdf/csalegalclinicspa.pdf" target="_blank">Spanish</a></p>
	  </div>
	  <hr>	
	  
      <h4 id="senior" data-magellan-target="senior">Paulson Park Affordable Senior Housing Wait List Open</h4>
      <div class="inner">
          <p>Paulson Park is a large senior affordable housing development in Mountain View, and it's 1 bedroom waitlist is opening. It is a Mid-Pen property. If you are interested to apply, it is not too late, but they may stop accepting applications early next week. So take action to pick up and turn in an application asap if this is of interest to you. You need to go to 111 Montebello Ave, Mtn View to get an application. (phone 650 964-5600)</p>
	  </div>
	  <hr> 

      </div>
    </div>
</section>