---
layout: default
---

<section>
    <div class="row">
		<div class="columns small-12 hide-for-medium">
			{% include announce_menu.html %}
		</div>
		<div class="left-subnav medium-3 columns hide-for-small-only" data-sticky-container>
			<nav class="columns sticky" data-sticky data-top-anchor="top" data-btm-anchor="stateleg" data-sticky-on="medium">
				<div id='nav-magellan' data-magellan>
					{% include announce_menu.html %}
				</div>
			</nav>
		</div>
      <div id="top" data-magellan-target="top" class="large-9 columns">
		<h1>Announcements</h1>

      <h4 id="moratorium" data-magellan-target="moratorium">STATEWIDE EVICTION MORATORIUM EXTENDED: EFFECTIVE IMMEDIATELY </h4>
      <div class="inner">
          <p> On January 29, the State of California adopted legislation (SB 91) that extends the Tenant, Homeowner, and Small Landlord Relief Act (AB 3088). SB 91’s Tenant Relief Act extends eviction protections for tenants experiencing COVID-19 financial hardship effective immediately. All residential properties in Mountain View are covered, including single-family homes, condos/townhomes, duplexes, apartments, mobile homes and mobile home spaces and other types of residential rental units. </p>
		  <p>SB 91 also provides financial assistance to tenants and small property owners impacted by COVID-19. </p>
		  <p>Tenants are protected by, and tenants and landlords must follow, the State’s eviction moratorium requirements. It is important that tenants and landlords know that the State law has different noticing and past-due rent repayment requirements than the City’s previous law. Up-to-date online forms and information are now available at <a href="http://MountainView.gov/EvictionRelief" target="_blank">MountainView.gov/EvictionRelief</a>. </p>
		  <p>The City also hosts weekly webinars to inform the community about the eviction moratorium. To register in advance please visit: <a href="http://mountainview.gov/emwebinars" target="_blank">mountainview.gov/emwebinars</a> </p>
		  <p>If you need assistance or would like to learn more about the eviction moratorium, please contact the Mountain View Rental Housing Helpline by emailing <a href="mailto:csfra@housing.org" target="_blank">csfra@housing.org</a> or calling <a href="tel:6502822514" target="_blank">(650) 282-2514</a>. </p>
		  <p>The City of Mountain View Rent Relief Program provides financial assistance to qualifying tenants impacted by COVID-19. Rent relief is available for tenants who qualify. Please contact the Community Services Agency to learn more by visiting <a href="http://csacares.org" target="_blank">csacares.org</a>, emailing <a href="mailto:renthelp@csacares.org" target="_blank">renthelp@csacares.org</a> or calling <a href="tel:6509680836" target="_blank">650-968-0836</a>. </p> 
	  </div>
	  <hr>

      <h4 id="adu" data-magellan-target="adu">ADU Webinar </h4>
      <div class="inner">
          <p> The Community Development Department is hosting a live ADU Webinar on Thursday, Feb. 11, starting at 6 p.m. The webinar will feature speakers from the Planning and Building Division, Silicon Valley Realtors Association, and Housing Trust Silicon Valley. The virtual event provides an opportunity for residents to learn about the City’s recently adopted ADU regulations, the benefits of ADUs, financing options, and more! <a href="pdf/ADUWebinarFlyer.pdf" target="_blank">View flyer</a></p>
		  <p><a href="http://tinyurl.com/4uapvz8k" target="_blank">Register</a> </p> 
	  </div>
	  <hr>

      <h4 id="traffic" data-magellan-target="traffic">Traffic Advisory and Video; US 101 Closure 2/14 </h4>
      <div class="inner">
          <p><em>SANTA CLARA COUNTY</em> – Caltrans will perform a full overnight closure of Interstate 101 (US 101), between San Antonio Road and Embarcadero Road, in Palo Alto, Santa Clara County. Caltrans crews will begin reducing lanes at 8:00 PM, on Saturday February 13. A full highway closure is scheduled for Sunday, February 14, between the hours of 1:30 AM and 6:00 AM. The full southbound and northbound closures are needed for Caltrans crews to safely erect a steel structure for Palo Alto US 101 Pedestrian/Bike path overcrossing project. Motorists are advised to expect delays and allow extra time for their commute. <a href="https://www.youtube.com/watch?v=ErumCmYIiiM" target="_blank">View video</a>.</p> 
		  <p>Full Northbound/Southbound Lane Closures <br>February 14, 2021: <br>Sunday: 1:30 AM until 6:00 AM, between San Antonio Road and Embarcadero Road </p>
		  <p>Traffic Controls Measures: <br>Changeable message signs, directional signs and detours will be in place to assist motorists traveling in the area.  PLEASE FOLLOW POSTED DETOUR INSTRUCTIONS. </p>
		  <p>For more project information please visit <a href="https://www.cityofpaloalto.org/101" target=_blank">https://www.cityofpaloalto.org/101</a> </p>
		  <p>For 24/7 traffic updates, follow 511.org: <a href="https://twitter.com/511SFBAY" target="_blank">https://twitter.com/511SFBAY</a> </p>
		  <p>For real-time traffic, click-on Caltrans QuickMap: <a href="http://quickmap.dot.ca.gov/" target="_blank">http://quickmap.dot.ca.gov/</a> </p>
		  <p>Or follow us on Twitter: <a href="https://twitter.com/CaltransD4" target="_blank">https://twitter.com/CaltransD4</a> </p>
	  </div>
	  <hr>

      <h4 id="vaccine" data-magellan-target="vaccine">COVID Vaccination Information</h4>
      <div class="inner">
          <p>The County of Santa Clara Health System will operate an appointment-only vaccination site at the Mountain View Community Center, 201 S. Rengstorff Ave. To schedule an appointment, go to <a href="http://www.sccfreevax.org" target="_blank">www.sccfreevax.org</a> and scroll down to “Santa Clara Valley Medical Center Hospitals and Clinics (sites available in San José, Gilroy, and Mountain View).” </p>
		  <p>Learn more about COVID-19 vaccination opportunities throughout Santa Clara County at <a href="http://www.sccfreevax.org" target="_blank">www.sccfreevax.org</a>. This site includes information about eligibility.</p>
	  </div>
	  <hr>  

      <h4 id="simitian" data-magellan-target="simitian">County Town Hall</h4>
      <div class="inner">
          <p>Supervisor Simitian is hosting a virtual town hall to address important questions relating to the vaccine distribution. This one-hour public virtual town hall is scheduled for Wednesday, February 17 at 6:30 p.m.  He will be joined by: </p>
		  <ul>
		  <li>Mountain View Mayor Ellen Kamei </li>
		  <li>Santa Clara County COVID-19 Testing and Vaccine Officer Dr. Marty Fenstersheib </li>
		  <li>Santa Clara County Counsel James Williams </li>
		  <li>El Camino Health Infectious Disease Specialist Dr. Daniel Shin </li>
		  <li>Kaiser Medical Group Administrator Al Ibrahim and Assistant Physician-in-Chief, Quality and Mental Health Services Kimberly Lee </li>
		  <li>Stanford Health Care Associate Chief Medical Officer Dr. Paul Maggio </li>
		  <li>Sutter Health/PAMF CEO Camino Division Dr. David Quincy </li>
		  <li>Others, to be determined </li>
		  </ul>
		  <p>If you would like to participate and submit questions in advance, please register via Zoom by clicking <a href="https://sccgov-org.zoom.us/webinar/register/WN_B1KrJcfMR_CIrWldQu2avA" target="_blank">here</a>. </p>
	  </div>
	  <hr>

      <h4 id="eviction" data-magellan-target="eviction">Eviction Moratorium Extension (Tenant Focused)</h4>
      <div class="inner">
          <p>February 10 at 6:30 p.m.: The City of Mountain View is hosting a webinar about the State-wide eviction moratorium for all residential rental units in Mountain View. The Tenant Relief Act extends eviction protections for tenants experiencing COVID-19 financial hardship effective immediately. <a href="https://us02web.zoom.us/webinar/register/WN_KtrQCdwuQlCFnxpKgTiOUA" target="_blank">Register here</a>.</p>
	  </div>
	  <hr> 

      <h4 id="mediation" data-magellan-target="mediation">Mediation for Landlord and Tenant Issues (Tenant Focused)</h4>
      <div class="inner">
          <p>February 11 at 6:30 p.m.: Rent Stabilization Program staff is hosting a webinar to help tenants navigate the City's free mediation program. We will discuss how mediation works and how it can be a used to communicate with your landlord during these unprecedented times of the COVID-19 emergency. <a href="https://us02web.zoom.us/webinar/register/WN_fxVh5P74T-eb3Pu8nsW58Q" target="_blank">Register here</a>.</p>
	  </div>
	  <hr> 

		<h4 id="csa" data-magellan-target="csa">CSA Programs: Tax Preparation, Affordable Housing Applyathon, Immigration Services</h4>
		<p>CSA will be providing 2021 Tax Preparation, an Affordable Housing Applyathon happening on February 11th and 12th , and a few upcoming immigration presentations and 1-1 immigration legal consults in February and March. Kindly share this information with your clients, patients, families, neighbors, and friends. Flyers with more information are available below. </p>
		<p><ul>
		<li>Tax preparation flyer: <a href="pdf/2021TaxPreparationCSAReENG.pdf" target="_blank">English</a> - <a href="pdf/2021TaxPreparationCSAReSPA.pdf" target="_blank">Spanish</a> </li>
		<li>Affordable Housing Applyathon flyer: <a href="pdf/SCSApplyathon2ENG.pdf" target="_blank">English</a> - <a href="pdf/SCSApplyathon2SPA.pdf" target="_blank">Spanish</a> </li>
		<li>Immigration Services flyer: <a href="pdf/CCCOVID19-VirtualWorkshopsandClinicsEng.pdf" target="_blank">English</a> - <a href="pdf/CCCOVID19-VirtualWorkshopsandClinicsSPA.pdf" target="_blank">Spanish</a> </li>
		</ul></p>
		<p>If you or anyone you know has any questions in regards to the information being shared, please do not hesitate to contact Eonis Cibrian Pelayo via email at <a href="mailto:ecibrianpelayo@csacares.org" target="_blank">ecibrianpelayo@csacares.org</a> or phone at <a href="tel:6506699551" target="_blank">650.669.9551</a>. </p>
		<hr>

      <h4 id="legal" data-magellan-target="legal">Legal clinic</h4>
      <div class="inner">
          <p>Community Services Agency (CSA), alongside Law Foundation of Silicon Valley is virtually launching a safe monthly legal clinic on-site for an opportunity for CSA clients and the general community of Silicon Valley to consult with our community partner and Senior Attorney, Rachel Miño,  about issues pertaining to their Economic and/or Patient Rights. Please see the flyer attached, which states more in detail what these Economic and Patient Rights are described as. </p>
		  <p>If your families, patients, or clients are interested in scheduling a FREE appointment, please direct them to Eonis Cibrian Pelayo, Community and Public Relations Coordinator  at 650.669.9551 or ecibrianpelayo@csacares.org. </p>
		  <p>Flyer in <a href="pdf/csalegalcliniceng.pdf" target="_blank">English</a> - <a href="pdf/csalegalclinicspa.pdf" target="_blank">Spanish</a></p>
	  </div>
	  <hr>	
	  
      <h4 id="senior" data-magellan-target="senior">Paulson Park Affordable Senior Housing Wait List Open</h4>
      <div class="inner">
          <p>Paulson Park is a large senior affordable housing development in Mountain View, and it's 1 bedroom waitlist is opening. It is a Mid-Pen property. If you are interested to apply, it is not too late, but they may stop accepting applications early next week. So take action to pick up and turn in an application asap if this is of interest to you. You need to go to 111 Montebello Ave, Mtn View to get an application. (phone 650 964-5600)</p>
	  </div>
	  <hr> 

      <h4 id="rhc" data-magellan-target="rhc">Apply for the Rental Housing Committee </h4>
      <div class="inner">
          <p>The Rental Housing Committee (RHC) was created when voters approved Measure V in 2016. Measure V implemented the Community Stabilization and Fair Rent Act (CSFRA), which provides tenant protections like rent stabilization and “just cause” eviction. The City is now accepting applications from any resident who would like to join the RHC, which administers the rent stabilization program and creates regulations. <a href="https://www.mountainview.gov/council/rental_housing_committee/default.asp" target="_blank">Learn more about the RHC here</a>. <a href="https://www.mountainview.gov/civicax/filebank/blobdload.aspx?BlobID=33866" target="_blank">Download the Application Here</a>. There are 3 openings (all incumbents eligible for reappointment) and 1 vacant alternate position that the Council will fill. The deadline to apply is Friday, February 26, at 5pm.</p>
	  </div>
	  <hr>

      <h4 id="psab" data-magellan-target="psab">Apply for the Public Safety Advisory Board </h4>
      <div class="inner">
          <p>Last year, the City Council created a new Public Safety Advisory Board (PSAB) to solicit community input regarding local policing and related racial equity and justice issues. The City is <a href="https://www.mountainview.gov/civicax/filebank/blobdload.aspx?BlobID=33871" target="_blank">now accepting applications</a> from any resident interested in joining the PSAB! <a href="https://www.mountainview.gov/council/bcc/psa.asp?mc_cid=481bcb7498" target="_blank">Learn more about the PSAB here</a>. <a href="https://www.mountainview.gov/civicax/filebank/blobdload.aspx?BlobID=33865" target="_blank">Download the Application Here</a>. There are seven openings that the Council will fill. The deadline to submit an application is Friday, February 26, at 5pm.</p>
	  </div>
	  <hr>	  
      </div>
    </div>
</section>
