<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">New Updates! </a>
    <ul class="nested vertical menu">
		<li><a href="#moratorium">STATEWIDE EVICTION MORATORIUM EXTENDED: EFFECTIVE IMMEDIATELY </a></li>
		<li><a href="#adu">ADU Webinar </a></li>
		<li><a href="#traffic">Traffic Advisory and Video; US 101 Closure 2/14 </a></li>
		<li><a href="#vaccine">COVID Vaccination Information </a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">CSA Programs </a>
    <ul class="nested vertical menu">	
		<li><a href="#csa">Tax Preparation </a></li>
		<li><a href="#csa">Affordable Housing Applyathon </a></li>
		<li><a href="#csa">Immigration Services </a></li>
		<li><a href="#legal">Legal clinic</a> </li>
	  </li>
    </ul>
  </li>
</ul>
