<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">New Updates! </a>
    <ul class="nested vertical menu">
		<li><a href="#moratorium">Statewide Eviction Moratorium </a></li>
		<li><a href="#vaccine">COVID Vaccination Information </a></li>
		<li><a href="#vta">VTA transportation to a COVID Vaccine appointment</a></li>
		<li><a href="#covid">Vaccination for Homebound </a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">CSA Programs </a>
    <ul class="nested vertical menu">	
		<li><a href="#csa">Tax Preparation </a></li>
		<li><a href="#csa">Immigration Services </a></li>
		<li><a href="#legal">Legal clinic</a> </li>
	  </li>
    </ul>
  </li>
  <li><a href="#" class="heading">Application Opportunities </a>
    <ul class="nested vertical menu">	
		<li><a href="#senior">Affordable Senior Housing Wait List </a></li>
	  </li>
    </ul>
  </li>
</ul>
