<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">Coronavirus/COVID-19 Update</a>
    <ul class="nested vertical menu">
	  <li><a href="#quick">Quick Links</a></li>
	  <li><a href="#workers">Worker's Rights</a></li>
	  <li><a href="#caltrainupdates">Caltrain Updates</a></li>
	  <li><a href="#vtaupdate">VTA Updates</a></li>
	  <li><a href="#parents">Resources for Parents</a></li>
      <li><a href="#other">Other Resources</a></li>
      <li><a href="#help">Ways to help</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">Grants, Surveys and Applications</a>
    <ul class="nested vertical menu">
	  <li><a href="#vta">VTA is seeking transit rider input!</a></li>
	  <li><a href="#neighborhood">Neighborhood Grants Available</a></li>
      <li><a href="#jury">Civil Grand Jury Recruitment</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">New Laws, Codes and Construction</a>
    <ul class="nested vertical menu">
	  <li><a href="#caltrain">Caltrain Electrification</a></li>
      <li><a href="#green">Green Building and Reach Codes FAQ</a></li>
      <li><a href="#stateleg">New State Legislation </a></li>
    </ul>
  </li>
</ul>
