<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">What you need to know</a>
    <ul class="nested vertical menu">
	  <li><a href="#eviction">Eviction Moratorium</a></li>
	  <li><a href="#shelter">Shelter-in-Place Order</a></li>
	  <li><a href="#city">Mountain View Updates</a></li>
	  <li><a href="#state">Other Agency Updates</a></li>
	  <li><a href="#togethermv">#TogetherMV Fund</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">Financial Help</a>
    <ul class="nested vertical menu">
	  <li><a href="#rent">Rent Relief</a></li>
	  <li><a href="#utilty">Utility Assistance</a></li>
	  <li><a href="#worker">Worker Assistance</a></li>
	  <li><a href="#navigation">COVID-19 Assistance Navigation</a></li>
	  <li><a href="#student">Student Loans</a></li>
	  <li><a href="#homeowners">Relief for Homeowners</a></li>
	  <li><a href="#mutualaid">South Bay Mutual Aid</a></li>
	  <li><a href="#support">COVID-19 Financial Assistance Program</a></li>
	  <li><a href="#unhoused">Resources for the Unhoused</a></li>
	  <li><a href="#immigrants">Immigrant resources</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">Staying Healthy at Home</a>
    <ul class="nested vertical menu">
	  <li><a href="#testing">Covid-19 Testing</a></li>
	  <li><a href="https://chambermaster.blob.core.windows.net/userfiles/UserFiles/chambers/2592/CMS/PDF_Documents/Guidance-for-Face-Coverings_06-18-2020.pdf" target="_blank">Guidance for Face Coverings</a></li>
	  <li><a href="#tips">Tips to Stay Healthy</a></li>
	  <li><a href="#mental">Mental Health</a></li>
	  <li><a href="#domestic">Challenging Domestic Situations</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">For Small Businesses and Non-Profits</a>
    <ul class="nested vertical menu">
	  <li><a href="#chamber">MV Chamber of Commerce</a></li>
	  <li><a href="#fiona">CA State Resources List</a></li>
	  <li><a href="#facebook">Small Business Grants </a></li>
	  <li><a href="#loans">Small Business Loans </a></li>
	  <li><a href="#sbdc">Listings of Resources for Small Businesses </a></li>
	  <li><a href="#taxes">Businesses Requesting Sales and Use Tax Extensions</a></li>
	  <li><a href="#togethermv">#TogetherMV Fund</a></li>
	  <li><a href="#nonprofits">Non-Profit Resources</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">Ways to Help</a>
    <ul class="nested vertical menu">
	  <li><a href="#togethermv">#TogetherMV Fund</a></li>
	  <li><a href="#techhandbook">Tech Handbook</a></li>
	  <li><a href="#volunteer">Volunteering</a></li>
	  <li><a href="#blood">Donate Blood</a></li>
	  <li><a href="#aapi">Stop AAPI Hate Reporting Center</a></li>
	  <li><a href="#donate">Donate to Community Groups</a></li>
      <li><a href="#news">Support Local News</a></li>
    </ul>
  </li>
</ul>
