<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">What you need to know</a>
    <ul class="nested vertical menu">
	  <li><a href="#eviction">Eviction Moratorium</a></li>
	  <li><a href="#shelter">Shelter-in-Place Order</a></li>
	  <li><a href="#simitian">Supervisor Simitian Telephone Town Hall </a></li>
	  <li><a href="#county">County Public Health Updates</a></li>
	  <li><a href="#city">Mountain View Updates</a></li>
	  <li><a href="#state">Other Agency Updates</a></li>
	  <li><a href="#voice">Mountain View Voice Coverage</a></li>
	  <li><a href="https://www.irs.gov/newsroom/economic-impact-payments-what-you-need-to-know" target="_blank">IRS Economic Impact Payment FAQ</a></li>
	  <li><a href="#togethermv">#TogetherMV Fund</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">Financial Help and Other Resources</a>
    <ul class="nested vertical menu">
	  <li><a href="#financial">Financial Assistance</a></li>
	  <li><a href="#onward">Unemployment Assistance</a></li>
	  <li><a href="#workers">Worker Protections</a></li>
	  <li><a href="#gouging">Price Gouging</a></li>
	  <li><a href="#student">Student Loans</a></li>
	  <li><a href="#homeowners">Relief for Homeowners</a></li>
	  <li><a href="#rent">Eviction Moratorium and Renter Protections</a></li>
	  <li><a href="#internet">Internet Access</a></li>
	  <li><a href="#mutualaid">South Bay Mutual Aid</a></li>
	  <li><a href="#unhoused">Resources for the Unhoused</a></li>
	  <li><a href="#meals">Meals on Wheels</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">Staying Healthy at Home</a>
    <ul class="nested vertical menu">
	  <li><a href="#testing">Screening and Testing Support</a></li>
	  <li><a href="#tips">Tips to Stay Healthy</a></li>
	  <li><a href="#mental">Mental Health</a></li>
	  <li><a href="#domestic">Challenging Domestic Situations</a></li>
	  <li><a href="#software">Software Resources</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">For Parents</a>
    <ul class="nested vertical menu">
	  <li><a href="#lunch">Free School Lunches</a></li>
	  <li><a href="#homeschool">Home School Resources</a></li>
	  <li><a href="#internet">Internet Access</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">For Small Businesses</a>
    <ul class="nested vertical menu">
	  <li><a href="#chamber">MV Chamber of Commerce</a></li>
	  <li><a href="#fiona">CA State Resources List</a></li>
	  <li><a href="#facebook">Facebook Small Business Grants Program</a></li>
	  <li><a href="#loans">Small Business Loans</a></li>
	  <li><a href="#sbdc">Silicon Valley SBDC</a></li>
	  <li><a href="#togethermv">#TogetherMV Fund</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">Ways to Help</a>
    <ul class="nested vertical menu">
	  <li><a href="#togethermv">#TogetherMV Fund</a></li>
	  <li><a href="#techhandbook">Tech Handbook</a></li>
	  <li><a href="#volunteer">Volunteering</a></li>
	  <li><a href="#blood">Donate Blood</a></li>
	  <li><a href="#aapi">Stop AAPI Hate Reporting Center</a></li>
	  <li><a href="#hospital">Donate Hospital Equipment</a></li>
	  <li><a href="#restaurant">Support Local Restaurants</a></li>
	  <li><a href="#arts">Support the Arts</a></li>
	  <li><a href="#donate">Donate to Community Groups</a></li>
      <li><a href="#news">Support Local News</a></li>
    </ul>
  </li>
</ul>
