<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">Housing</a>
    <ul class="nested vertical menu">
      <li><a href="#jobs-housing-imbalance">Jobs/Housing Imbalance</a></li>
      <li><a href="#housing-element">Housing Element</a></li>
      <li><a href="#shopping-centers">Re-zoning of Shopping Centers</a></li>
      <li><a href="#r3">R3 Development Standards Update</a></li>
	  <li><a href="#antidisplacement">Anti-displacement policies</a></li>
	  <li><a href="#homelessness">Homelessness </a></li>
	  <li><a href="#funding">Funding for Affordable Housing </a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Transportation</a>
    <ul class="nested vertical menu">
      <li><a href="#caltrain">Caltrain</a></li>
      <li><a href="#bikeped">Bicycle and Pedestrian Safety </a></li>
      <li><a href="#bus">Increasing Bus Utilization </a></li>
      <li><a href="#elcamino">El Camino Streetscape Plan</a></li>
      <li><a href="#seamless">Seamless Transit</a></li>
      <li><a href="#parking">Parking</a></li>
    </ul>
  </li>
  <li>
    <a href="#"class='heading'>COVID Response</a>
    <ul class="nested vertical menu">
      <li><a href="#preventing-homelessness">Preventing Homelessness</a></li>
      <li><a href="#small-business">Small / Local Businesses </a></li>
      <li><a href="#economic-recovery">Economic Recovery</a></li>
    </ul>
  </li>
  <li>
    <a href="#"class="heading">Environmental Sustainability </a>
    <ul class="nested vertical menu">
      <li><a href="#park">Parks, Open Space and Urban Recreation </a></li>
      <li><a href="#trees">Trees </a></li>
      <li><a href="#sea-level-rise">Sea Level Rise </a></li>
	  <li><a href="#wildlife">Wildlife </a></li>
	  <li><a href="#reach-codes">Electrification Reach Codes </a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Youth and Families</a>
    <ul class="nested vertical menu">
      <li><a href="#mental-health">Mental Health </a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Diversity and Inclusion</a>
    <ul class="nested vertical menu">
      <li><a href="#racism">Addressing Systemic Racism </a></li>
      <li><a href="#lgbtq">LGBTQ+</a></li>
      <li><a href="#engagement">Increasing Engagement with Underrepresented Communities</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Public Safety</a>
    <ul class="nested vertical menu">
      <li><a href="#fire">A Robust Fire Department</a></li>
    </ul>
  </li>
</ul>
