<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">Announcements</a>
    <ul class="nested vertical menu">
      <li><a href="#nno">National Night Out 2019</a></li>
      <li><a href="#lane-closures">Overnight Lane Closures</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">City Resources</a>
    <ul class="nested vertical menu">
      <li><a href="#council">Contact City Council</a></li>
      <li><a href="#ask">Ask Mountain View</a></li>
      <li><a href="#planning">Planning Department</a></li>
      <li><a href="#police">Police Department</a></li>
      <li><a href="#utility">Utility Services</a></li>
      <li><a href="#rent">MV Rent Program</a></li>
      <li><a href="#animal">Animal Control</a></li>
      <li><a href="#parks">Parks Division</a></li>
    </ul>
  </li>
  <li>
    <a href="#"class='heading'>Transportation</a>
    <ul class="nested vertical menu">
      <li><a href="#caltrans">Caltrans</a></li>
      <li><a href="#vta">VTA</a></li>
      <li><a href="#caltrain">Caltrain</a></li>
    </ul>
  </li>
  <li>
    <a href="#"class="heading">Senior Resources</a>
    <ul class="nested vertical menu">
      <li><a href="#newsletter">Senior Center Monthly Newsletter</a></li>
      <li><a href="#avenidas">Avenidas</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Regional Government Resources</a>
    <ul class="nested vertical menu">
      <li><a href="#eshoo">Federal Resources</a></li>
      <li><a href="#state">State Resources</a></li>
      <li><a href="#county">County Resources</a></li>
	  <li><a href="#water">Water District Resources</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Non-profit Resources</a>
    <ul class="nested vertical menu">
      <li><a href="#rapid-response">Rapid Response Network</a></li>
      <li><a href="#neighbors">Neighbors Helping Neighbors</a></li>
      <li><a href="#nextdoor">Nextdoor Solutions</a></li>
      <li><a href="#chac">CHAC</a></li>
    </ul>
  </li>
</ul>
