<ul class="vertical menu" data-accordion-menu data-multi-open="false">
  <li><a href="#" class="heading">Quick Links</a>
    <ul class="nested vertical menu">
      <li><a href="2019GuidetoCityPhone.pdf" target="_blank">2019 City Phone Numbers</a></li>
      <li><a href="https://www.mountainview.gov/council/future_agenda_items.asp" target="_blank">Future Agenda Items</a></li>
      <li><a href="https://www.mountainview.gov/contact/services.asp" target="_blank">City Services</a></li>
      <li><a href="https://www.mountainview.gov/depts/pw/projects/capital_improvement_program.asp" target="_blank">Capital Improvements Schedule</a></li>
      <li><a href="https://mountainview.opengov.com/" target="_blank">Open Budget Tool</a></li>
      <li><a href="http://data-mountainview.opendata.arcgis.com/" target="_blank">GIS Open Data Portal</a></li>
      <li><a href="https://www.mountainview.gov/mymv/" target="_blank">Subscribe for City Email Distribution Lists</a></li>
      <li><a href="https://clients.comcate.com/newrequest.php?id=128" target="_blank">Ask Mountain View</a></li>
    </ul>
  </li>
  <li><a href="#" class="heading">Announcements</a>
    <ul class="nested vertical menu">
      <li><a href="#nno">National Night Out 2019</a></li>
      <li><a href="#lane-closures">Overnight Lane Closures</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">City Resources</a>
    <ul class="nested vertical menu">
      <li><a href="#council">Contact City Council</a></li>
      <li><a href="#ask">Ask Mountain View</a></li>
      <li><a href="#homeless">Homelessness Updates</a></li>
      <li><a href="#planning">Planning Department</a></li>
      <li><a href="#works">Public Works Department</a></li>
      <li><a href="#police">Police Department</a></li>
      <li><a href="#utility">Utility Services</a></li>
      <li><a href="#rent">MV Rent Program</a></li>
      <li><a href="#animal">Animal Control</a></li>
      <li><a href="#parks">Parks Division</a></li>
    </ul>
  </li>
  <li>
    <a href="#"class='heading'>Transportation</a>
    <ul class="nested vertical menu">
      <li><a href="#caltrans">Caltrans</a></li>
      <li><a href="#vta">VTA</a></li>
      <li><a href="#caltrain">Caltrain</a></li>
    </ul>
  </li>
  <li>
    <a href="#"class="heading">Senior Resources</a>
    <ul class="nested vertical menu">
      <li><a href="#newsletter">Senior Center Monthly Newsletter</a></li>
      <li><a href="#avenidas">Avenidas</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Regional Government Resources</a>
    <ul class="nested vertical menu">
      <li><a href="#federal">Federal Resources</a></li>
      <li><a href="#state">State Resources</a></li>
      <li><a href="#county">County Resources</a></li>
	  <li><a href="#water">Water District Resources</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="heading">Non-profit Resources</a>
    <ul class="nested vertical menu">
      <li><a href="#csa">Community Services Agency</a></li>	
      <li><a href="#rapid-response">Rapid Response Network</a></li>
      <li><a href="#nextdoor">Nextdoor Solutions</a></li>
      <li><a href="#chac">CHAC</a></li>
      <li><a href="#mayview">MayView</a></li>
      <li><a href="#lawfoundation">Law Foundation</a></li>
      <li><a href="#clsepa">CLSEPA</a></li>
    </ul>
  </li>
</ul>
